.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.relative {
  margin-inline: 30px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items div {
  margin-inline: 30px;
  color: white;
}
