<app-navbar></app-navbar>
<section class="">
  <body>
    <div class="bg-img"></div>
    <!-- El div para la imagen de fondo -->
    <div class="content">
      <h1>Mi sitio web</h1>
      <p>Bienvenidos a mi sitio web.</p>
    </div>
    <!-- El contenido de tu sitio web -->
  </body>
</section>
