/* Establece una imagen de fondo */
.bg-img {
  background-image: url("./../../../assets/peakpx.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Para asegurarte de que el contenido esté en el frente */
}

/* Crea un efecto de superposición para oscurecer la imagen */
.bg-img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Establece el color y opacidad */
}

/* Agrega estilos al contenido de tu sitio web */
.content {
  position: relative; /* Asegúrate de que no se superponga con la imagen */
  z-index: 1; /* Asegúrate de que esté arriba de la imagen */
  padding: 50px;
  text-align: center;
  color: #ffffff; /* Cambia el color del texto para que sea legible */
}
